<div id="badgesCheckboxList" class="grid grid-cols-2 gap-2 mt-1">
  {{#each availableBadges }}
    <label>
      <input id="chk{{name}}" type="checkbox" name="badges" value="Champion" class="mr-2">{{name}}
    </label>
  {{/each }}
</div>