<dialog id="dlgFiltersConfig" title="Filters Config"
  class="p-8 bg-white rounded-lg shadow-md backdrop:bg-gray-900 backdrop:bg-opacity-50 backdrop:backdrop-blur-sm">
  <form id="frmFiltersConfig" class="flex flex-col space-y-4" method="dialog">
    <h1 class="text-2xl font-bold mb-4">Leaderboard Filters Configuration</h1>
    <p>
      Configure filters(practice, seniority,quarter badges, total level badges, by axis, by badge)
    </p>
    <button id="btnCancelFiltersConfig" type="reset" class="bg-gray-300 font-bold py-2 px-4 rounded-md"
      onclick="document.getElementById('dlgFiltersConfig').close()">Cancel</button>
    <button id="btnSaveFiltersConfig" type="submit" class="bg-logoGrey text-white font-bold py-2 px-4 rounded-md"
      onclick="document.getElementById('dlgFiltersConfig').close()">Save</button>
  </form>
</dialog>