<div id="toolbar" class="toolbar">
  <ul class="flex flex-wrap space-x-4 items-center w-full p-4">
    <li class="flex flex-col">
      <label for="txtQtrId" class="text-sm font-medium text-gray-700">Quarter Id (* or Q#-yyyy)</label>
      <input id="txtQtrId" name="txtQtrId" type="text" hx-include="[name='txtQtrId']"
        hx-trigger="keyup changed delay:600ms" hx-get="/leaderboard" hx-target="#leaderboard-list" value="*"
        placeholder="Q2-2024 or *"
        class="border border-gray-300 rounded-md p-2 focus:ring-logoGrey focus:border-logoGrey sm:text-sm" />
    </li>
    <li>      
      <button id="btnShwDlgNewBadge"
        hx-on:click="document.getElementById('dlgAwardBadge').showModal()"
        class="bg-logoGrey text-white font-bold py-2 px-4 rounded-md hover:bg-gray-700 transition">
        Award New Badges
      </button>      
      {{> dialog-award-badges}}
    </li>
    <li>      
      <button id="btnShwDlgFiltersConfig"
        hx-on:click="document.getElementById('dlgFiltersConfig').showModal()"
        class="bg-logoGrey text-white font-bold py-2 px-4 rounded-md hover:bg-gray-700 transition">
        Filters Config
      </button>
      {{> dialog-filter-config}}
    </li>
    <li class="flex flex-col">
      <label for="sortBy" class="text-sm font-medium text-gray-700">Sort By:</label>
      <select id="sortBy"
        class="border border-gray-300 rounded-md p-2 focus:ring-logoGrey focus:border-logoGrey sm:text-sm">
        <option value="1">Badge Name</option>
        <option value="2">Total Levels</option>
        <option value="3">Seniority</option>
        <option value="4">Practice</option>
        <option value="5">Quarter Badges</option>
      </select>
    </li>
  </ul>
</div>