<div id="toolbar" class="flex flex-wrap bg-white p-4 rounded-md shadow-md space-x-4">
  <ul class="flex flex-wrap space-x-4 items-center w-full">
    <li class="flex flex-col">
      <label for="txtQtrId" class="text-sm font-medium text-gray-700">Quarter Id (* or Q#-yyyy)</label>
      <input id="txtQtrId" name="txtQtrId" type="text" hx-include="[name='txtQtrId']"
        hx-trigger="keyup delay:600ms changed" hx-get="/leaderboard" hx-target="#leaderboard-list" value="*"
        placeholder="Q2-2024 or *"
        class="border border-gray-300 rounded-md p-2 focus:ring-logoGrey focus:border-logoGrey sm:text-sm" />
    </li>
    <li>
      <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
          const btnShwDlgNewBadge = document.getElementById('btnShwDlgNewBadge');
          const dlgAwardBadge = document.getElementById('dlgAwardBadge');
          btnShwDlgNewBadge.addEventListener("click", () => {
            dlgAwardBadge.showModal();
          });
        });
      </script>
      <button id="btnShwDlgNewBadge"
        class="bg-logoGrey text-white font-bold py-2 px-4 rounded-md hover:bg-gray-700 transition">
        Award New Badges
      </button>
      {{> dialog-award-badges}}
    </li>
    <li>
      <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
          const btnShwDlgFiltersConfig = document.getElementById('btnShwDlgFiltersConfig');
          const dlgFiltersConfig = document.getElementById('dlgFiltersConfig');
          btnShwDlgFiltersConfig.addEventListener("click", () => {
            dlgFiltersConfig.showModal();
          });
        });
      </script>
      <button id="btnShwDlgFiltersConfig"
        class="bg-logoGrey text-white font-bold py-2 px-4 rounded-md hover:bg-gray-700 transition">
        Filters Config
      </button>
      {{> dialog-filter-config}}
    </li>
    <li class="flex flex-col">
      <label for="sortBy" class="text-sm font-medium text-gray-700">Sort By:</label>
      <select id="sortBy"
        class="border border-gray-300 rounded-md p-2 focus:ring-logoGrey focus:border-logoGrey sm:text-sm">
        <option value="1">Badge Name</option>
        <option value="2">Total Levels</option>
        <option value="3">Seniority</option>
        <option value="4">Practice</option>
        <option value="5">Quarter Badges</option>
      </select>
    </li>
  </ul>
</div>