  <div id="leaderboard-list" class="flex flex-col overflow-y-auto" style="height: calc(100vh - 280px);">
    {{#each champions}}
      {{> level-leaderboard-card}}
      {{else}}
      <h2 class="font-bold text-lg text-apexBlue m-8">No Champions Found...</h2>
    {{/each}}
  </div>