<div id="roster-toolbar" class="toolbar p-4">
  <button id="btnShowDlgAddEmployee"
    hx-on:click="document.getElementById('dlgAddEmployee').showModal()"
    class="bg-logoGrey text-white font-bold py-2 px-4 rounded-md hover:bg-gray-700 transition">
    Add New Employee
  </button>
<dialog id="dlgAddEmployee" title="Add New Employee"
  class="p-8 bg-white rounded-lg shadow-md backdrop:bg-gray-900 backdrop:bg-opacity-50 backdrop:backdrop-blur-sm">
  <form id="frmAddEmployee" class="flex flex-col space-y-4" method="dialog">
Howdy!
  </form>
  </dialog>
</div>