<div id="roster-toolbar" class="toolbar p-4">
  <button id="btnShowDlgAddEmployee"
    hx-on:click="document.getElementById('dlgAddEmployee').showModal()"
    class="bg-logoGrey text-white font-bold py-2 px-4 rounded-md hover:bg-gray-700 transition">
    Add New Employee
  </button>
</div>