<aside id="sidebar"
  class="shadow-sm bg-logoGrey rounded-r-lg col-span-3 md:col-span-2 lg:col-span-2 xl:col-span-2 p-4 h-full">
  <nav>
    <ul>
      <!-- Home Option -->
      <li class="flex flex-col mt-4">
        <div class="flex items-center">
          <svg class="w-6 h-6 mr-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 4a1 1 0 011-1h3.279a1 1 0 01.7.292l1.296 1.296A1 1 0 0010.721 5H21a1 1 0 011 1v13a1 1 0 01-1 1H3a1 1 0 01-1-1V4z" />
          </svg>
          <a href="#" class="text-white hover:text-yellow" hx-get="/home">Home</a>
        </div>
        <p class="text-sm text-gray-300 mt-1">Overview of the application</p>
      </li>

      <!-- Badges Hall Option -->
      <li class="flex flex-col mt-4">
        <div class="flex items-center">
          <svg class="w-6 h-6 mr-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M11 17a4 4 0 104-4h-3m3 0h-4" />
          </svg>
          <a href="#" class="text-white hover:text-yellow" hx-get="/badgeshal">Badges Hall</a>
        </div>
        <p class="text-sm text-gray-300 mt-1">View all earned badges</p>
      </li>

      <!-- Quarterly Leaderboard Option -->
      <li class="flex flex-col mt-4">
        <div class="flex items-center">
          <svg class="w-6 h-6 mr-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M11 17a4 4 0 104-4h-3m3 0h-4" />
          </svg>
          <a href="#" class="text-white hover:text-yellow" hx-get="/badgeshal">Quarterly Leaderboard</a>
        </div>
        <p class="text-sm text-gray-300 mt-1">See who is leading this quarter</p>
      </li>

      <!-- Yearly Leaderboard Option -->
      <li class="flex flex-col mt-4">
        <div class="flex items-center">
          <svg class="w-6 h-6 mr-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M11 17a4 4 0 104-4h-3m3 0h-4" />
          </svg>
          <a href="#" class="text-white hover:text-yellow" hx-get="/badgeshal">Yearly Leaderboard</a>
        </div>
        <p class="text-sm text-gray-300 mt-1">See the annual top performers</p>
      </li>

      <!-- Champions' Friday Documentation Option -->
      <li class="flex flex-col mt-4">
        <a href="#" class="text-white hover:text-yellow" hx-get="/badgeshal">Champions' Friday Documentation</a>
        <p class="text-sm text-gray-300 mt-1">Learn how Champions' Friday works</p>
      </li>

      <!-- Manage Employee Structure Option -->
      <li class="flex flex-col mt-4">
        <a href="#" class="text-white hover:text-yellow" hx-get="/badgeshal">Manage Employee Structure</a>
        <p class="text-sm text-gray-300 mt-1">Configure employee hierarchies</p>
      </li>

      <!-- Manage Minimum Level Profiles Option -->
      <li class="flex flex-col mt-4">
        <a href="#" class="text-white hover:text-yellow" hx-get="/badgeshal">Manage Minimum Level Profiles</a>
        <p class="text-sm text-gray-300 mt-1">Set minimum levels for profiles</p>
      </li>

      <!-- Practice Performance Dashboard Option -->
      <li class="flex flex-col mt-4">
        <a href="#" class="text-white hover:text-yellow" hx-get="/badgeshal">Practice Performance Dashboard</a>
        <p class="text-sm text-gray-300 mt-1">Find out how your org is doing</p>
      </li>

      <!-- FAQ Option -->
      <li class="flex flex-col mt-4">
        <a href="#" class="text-white hover:text-yellow" hx-get="/badgeshal">FAQ</a>
        <p class="text-sm text-gray-300 mt-1">Frequently asked questions</p>
      </li>
    </ul>
  </nav>
</aside>