<aside id="sidebar"
  class="toolbar rounded-r-lg col-span-3 md:col-span-2 lg:col-span-2 xl:col-span-2 p-4 h-full">
  <nav>
    <ul>
      <!-- Home Option -->
      <li class="flex flex-col mt-4">
        <div class="flex items-center">
          <img src="https://www.svgrepo.com/show/513309/house.svg" alt="Home" class="w-6 h-6 mr-2">
          <a href="#" class="text-apexBlue hover:text-teal1" hx-get="/" hx-swap="outerHTML" hx-target="#main">Home</a>
        </div>
        <p class="text-sm text-gray-300 mt-1">Home screen of Champions' Friday</p>
      </li>

      <!-- Level Leaderboard Option -->
      <li class="flex flex-col mt-4">
        <div class="flex items-center">
          <img src="https://www.svgrepo.com/show/207608/presentation-analysis.svg" alt="Level Leaderboard" class="w-6 h-6 mr-2">
          <a href="#" class="text-apexBlue hover:text-teal1" hx-get="/level-leaderboard" hx-target="#main" hx-swap="outerHTML">Level Leaderboard</a>
        </div>
        <p class="text-sm text-gray-300 mt-1">See the top performers by their current level</p>
      </li>

      <!-- Quarterly Leaderboard Option -->
      <li class="flex flex-col mt-4">
        <div class="flex items-center">
          <img src="https://www.svgrepo.com/show/207586/calendar-time.svg" alt="Quarterly Leaderboard" class="w-6 h-6 mr-2">
          <a href="#" class="text-apexBlue hover:text-teal1" hx-get="/quarterly-leaderboard" hx-target="#main" hx-swap="outerHTML">Quarterly Leaderboard</a>
        </div>
        <p class="text-sm text-gray-300 mt-1">See who is leading this and other quarters</p>
      </li>

      <!-- Badges Hall Option -->
      <li class="flex flex-col mt-4">
        <div class="flex items-center">
          <img src="https://www.svgrepo.com/show/182133/medal-badge.svg" alt="Badges Hall" class="w-6 h-6 mr-2">
          <a href="#" class="text-apexBlue hover:text-teal1" hx-get="/badges-hall" hx-target="body" hx-swap="outerHTML">Badges Hall</a>
        </div>
        <p class="text-sm text-gray-300 mt-1">View and learn all about badges</p>
      </li>


      <!-- Champions' Friday Documentation Option -->
      <li class="flex flex-col mt-4">
        <div class="flex items-center">
          <img src="https://www.svgrepo.com/show/207614/cabinet.svg" alt="Champions' Friday Documentation" class="w-6 h-6 mr-2">
          <a href="#" class="text-apexBlue hover:text-teal1" hx-get="/badgeshal">Documentation</a>
        </div>
        <p class="text-sm text-gray-300 mt-1">Learn how Champions' Friday works</p>
      </li>

      <!-- Manage Employee Structure Option -->
      <li class="flex flex-col mt-4">
        <div class="flex items-center">
          <img src="https://www.svgrepo.com/show/207593/network-hierarchy.svg" alt="Manage Employee Structure" class="w-6 h-6 mr-2">
          <a href="#" class="text-apexBlue hover:text-teal1" hx-get="/roster-manager" hx-target="#main" hx-swap="outerHTML">Manage Employee Structure</a>
        </div>
        <p class="text-sm text-gray-300 mt-1">Configure employee hierarchies</p>
      </li>

      <!-- Manage Minimum Level Profiles Option -->
      <li class="flex flex-col mt-4">
        <a href="#" class="text-apexBlue hover:text-teal1" hx-get="/badgeshal" hx-target="#main" hx-swap="outerHTML">Manage Minimum Level Profiles</a>
        <p class="text-sm text-gray-300 mt-1">Set minimum levels for profiles</p>
      </li>

      <!-- Anonymouse Badge Validator -->
      <li class="flex flex-col mt-4">
        <a href="#" class="text-apexBlue hover:text-teal1" hx-get="/anonymous-validator" hx-target="#main" hx-swap="outerHTML">Anonymous Badge Validator</a>
        <p class="text-sm text-gray-300 mt-1">Play the game and validate earned badges from your peers</p>
      </li>

      <!-- FAQ Option -->
      <li class="flex flex-col mt-4">
        <a href="#" class="text-apexBlue hover:text-teal1" hx-get="/badgeshal">FAQ</a>
        <p class="text-sm text-gray-300 mt-1">Frequently asked questions</p>
      </li>
    </ul>
  </nav>
</aside>