<main id="main" class="col-span-9 md:col-span-10 lg:col-span-10 xl:col-span-10 p-4">
  <h2 class="font-bold text-lg text-apexBlue">Anonymous Badge Validator</h2>
  <p>Play a game of validating badges earned by your peers.</p>
</main>