<div id="three-container">
      <script type="module">
        import * as THREE from 'https://cdn.jsdelivr.net/npm/three@0.175.0/build/three.module.js';
        window.THREE = THREE; // explicitly make THREE global
    </script>
    <script type="module" src="./starwars.js"></script>
</div>