<div class="h-screen w-full bg-gray3">
{{> topbar}}
    <div class="grid grid-cols-12 gap-0 h-[calc(100%-4rem)]">
        {{> sidebar}}
        <main id="main" class="bg-grey3 col-span-9 md:col-span-10 lg:col-span-10 xl:col-span-10 p-4">
            <h2 class="font-bold text-lg text-apexBlue">Champions Leaderboard</h2>
            {{> leaderboard-toolbar}}
            <div class="leaderboard" hx-get="/leaderboard" hx-trigger="load" hx-target="#leaderboard-list"
                hx-swap="outerHTML">
                <div id="leaderboard-list" class="flex flex-col"></div>
            </div>
        </main>
    </div>
</div>