<main id="main" class="md:col-span-10 lg:col-span-10 xl:col-span-10 p-4">
    <h2 class="font-bold text-lg text-apexBlue h-5">Champions' Friday Leaderboard By Level</h2>
    {{> leaderboard-toolbar}}
    {{> level-leaderboard-list}}    
</main>