<main id="main" class="col-span-9 md:col-span-10 lg:col-span-10 xl:col-span-10 p-4">
    <h2 class="font-bold text-lg text-apexBlue">
        <img src="https://www.svgrepo.com/show/207586/calendar-time.svg" alt="Quarterly Leaderboard" class="w-6 h-6 mr-2">
        Champions Quarterly Leaderboard</h2>
    {{> leaderboard-toolbar}}
    <div class="leaderboard">
    <!--div class="leaderboard" hx-get="/quarterly-leaderboard" hx-trigger="load" hx-target="#leaderboard-list" hx-swap="outerHTML"-->
        {{> quarter-leaderboard-list}}
    </div>
</main>