<main id="main" class="col-span-9 md:col-span-10 lg:col-span-10 xl:col-span-10 p-4 bg-gray-100">
    <h2 class="font-bold text-lg text-apexBlue">Champions Quarterly Leaderboard</h2>
    {{> leaderboard-toolbar}}
    <div class="leaderboard" hx-get="/leaderboard" hx-trigger="load" hx-target="#leaderboard-list" hx-swap="outerHTML">
        <div id="leaderboard-list" class="flex flex-col"></div>
    </div>
</main>