<main id="main" class="col-span-9 md:col-span-10 lg:col-span-10 xl:col-span-10 p-4">
  <h2 class="font-bold text-lg text-apexBlue">Organizational Structure</h2>
  {{> roster-toolbar}}
  {{> dialog-create-employee}}
  <div id="roster-conainer" class="flex flex-col overflow-y-auto h-full px-4 py-2">
    {{> roster-list}}
  </div>
</main>